body {
	background-color: black;
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	opacity: 0.9;
	text-align: center;
	margin: 0;
}
header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid seashell;
	height: 69px;
	position: fixed;
	width: 100%;
	background-color: black;
}
.logo {
	display: flex;
	flex-grow: 1;
}
.logo img {
	height: 50px;
	padding-left: 10px;
}
header nav a {
	color: seashell;
	padding: 20px 10px;
}
.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.mission {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../images/img-mission-background.jpg");
	padding-top: 70px;
	height: 700px;
	width: 1200px;
}
#our-mission h2, #our-mission h4 {
	background-color: black;
	margin: 0;
	padding: 10px;
	width: 1200px;
}
.tea-month-container {
	display: flex;
	flex-direction: column;
	width: 1000px
}
#tea-month {
	margin-top: 60px;
}
.tea-month-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tea-month-images img {
	display: flex;
	height: 200px;
	width: 300px;
	margin: 10px;
	padding: 5px;
}
.tea-image span {
	margin-top: 10px;
}
